* {

    box-sizing: border-box;
}

body {

    margin: 0;
    padding: 0;
    font-family: 'Goldman', cursive;
    background-color: #2196F3;
}

#socialbar {

    background-color: darkred;
    color: white;
    height: 65px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
    font-size: 20px;
    padding: 14px;

}

catchword {

    float: left;
    letter-spacing: 0, 5px;

}

password {

    font-size: 12px;
    letter-spacing: 0, 5px;

}

#socialbar > i {



    margin-right: 5px;
    float: right;
}

#vessel {

    width: 80%;
    margin: auto;
    height: auto;

}

header {
    width: 80%;
    height: 200px;
    position: relative;
    color: black;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    font-size: 36px;

}

#nbalogo {
    width: 80%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 23%;
    margin-right: auto;
    position: absolute;
}

#center {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-70%, -70%);
}

part {
    width: 100%;
    height: auto;

}

nav {
    padding: 0;
    width: 100%;
    text-align: center;
    list-style: none;
    color: white;
}

li {
    padding: 0 10px 0 0;
    float: none;
    display: inline-block;
    background-color: orangered;
}

nav li a:hover {
    color: white;
    background-color: red;
}

i {
    margin-right: 5px;

}

.logo {
    width: 80%;
    float: inherit;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hakkinda {
    color: orangered;
    background-color: white;
}

footer {
    background-color: darkred;
    color: white;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    padding: 14px;
    text-align: center;

}

footer > i {

    margin-right: 5px;
    float: right;

}

h2 {

    text-align: center;
    color: firebrick;
}

h4 {
    color: white;
    font-family: 'PT Sans', sans-serif;
    height: 50px;
    font-size: 26px;
    margin: 0 10px;
}

#hizmetlerimiz {
    font-size: 18px;
    color: dimgray;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    color: firebrick;
}

h3 {
    color: white;
    font-family: 'PT Sans', sans-serif;
    height: 50px;
    font-size: 26px;
    margin: 0 10px;
}

#tarihce {
    font-size: 18px;
    color: green;
    font-family: 'PT Sans', sans-serif;
}




.dinlenmeodasi {

    width: 50%;
    height: 320px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.dinlenmeodasii {

    font-size: 25px;
    color: white;
    text-align: center;
}

.uykuodasi {
    width: 50%;
    height: 320px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.uykuodasii {

    font-size: 25px;
    color: white;
    text-align: center;
}

.oyunalanii {
    font-size: 25px;
    color: white;
    text-align: center;
}

.oyunalani {
    width: 50%;
    height: 320px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.oyunalani1 {
    text-align: center;
    font-size: 19px;
    color: darkgoldenrod;

}

.uykuodasi1 {
    text-align: center;
    font-size: 19px;
    color: brown;
}

.kariyer {
    text-align: center;
    font-size: 19px;

}

.adres {
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.oyunalani2 {
    color: brown;
    background-color: darkolivegreen;
}

.dinlenmeodasi2 {
    color: brown;
    background-color: darkolivegreen;
}

.uykuodasi2 {
    color: brown;
    background-color: darkolivegreen;
}

.iletisim {
    font-size: 40px;
}

.telefonnumara {
    color: deeppink;
    background-color: aqua;
    font-family: 'Open Sans', sans-serif;
}

.adresimiz {
    color: blueviolet;
    background-color: chartreuse;
    font-family: 'Open Sans', sans-serif;
}
